<h2>New Wholesaler</h2>
<p>Please complete the fields listed below</p>
<form action="/wholesalers" method="post">
  <div class="form_wrapper">
    <div class="form_entry">
      <label for="name">Name:</label><br>
      <input type="text" name="name"/>
    </div>
    <div class="form_entry">
      <label for="Description">Description:</label><br>
      <textarea rows="4" cols="40" type="text" name="description"></textarea>
    </div>
    <div class="form_entry">
      <label for="contact_number">Contact Number:</label><br>
      <input type="text" name="contact_number"/>
    </div>
    <div class="form_entry">
      <label for="logo_url">Logo URL:</label><br>
      <input type="text" name="logo_url"/>
    </div>
    <div class="form_entry">
      <input type="submit" value="Save"/>
    </div>
  </div>
</form>
