<h2><em>Auctions</em></h2>
<a class="add_button" href="/auctions/new">+ Auction</a>
<div class="auctions_container">
<table>
  <tr>
    <th>Venue</th>
    <th>Date</th>
  </tr>
  <% @auctions.each do |auction| %>
  <tr>
    <td><%= auction.venue %></td>
    <td><%= auction.collection_date %></td>
    <td class="borderless"><form action="/auctions/<%= auction.id %>/delete" method="post">
      <div class="form_entry">
        <input class="delete_table_button" type="submit" value="DELETE"/>
      </div>
    </form></td>
  </tr>
  <% end %>
</table>
</div>
