<h2>New Antique</h2>
<p>Please complete the fields listed below</p>
<form action="/antiques" method="post">
  <div class="form_wrapper">
    <div class="form_entry">
      <label for="name">Name:</label>
      <input type="text" name="name"/>
    </div>
    <div class="form_entry">
      <label for="Description">Description:</label>
      <input type="text" name="description"/>
    </div>
    <div class="form_entry">
      <label for="type">Type:</label>
      <select name="type">
        <% @types.each do |type|%>
        <option><%= type %></option>
        <% end %>
      </select>
    </div>
    <div class="form_entry">
      <label for="auction_id">Auction:</label>
      <select name="auction_id">
        <% @auctions.each do |auction|%>
        <option value="<%= auction.id %>"><%= auction.venue %>, <%= auction.collection_date %></option>
        <% end %>
      </select>
    </div>
    <div class="form_entry">
      <label for="purchase_price">Purchase Price:</label>
      <input type="text" name="purchase_price"/>
    </div>
    <div class="form_entry">
      <label for="sale_price">Sale Price:</label>
      <input type="text" name="sale_price"/>
    </div>
    <div class="form_entry">
      <label for="image_url">Image URL:</label>
      <input type="text" name="image_url"/>
    </div>
    <div class="form_entry">
      <input type="submit" value="Save"/>
    </div>
  </div>
</form>
