.gifts_table td, .antiques_table td, .auctions_container td{
  border: 1px black solid;
  padding: 4px;
  min-width: 100px;
  background-color: white;
}

.gifts_table th, .antiques_table th, .auctions_container th{
  text-align: left;
}

.gifts_table, .antiques_table, .auctions_container table{
  border-collapse: collapse;
}

.inventory_low {
  color: red;
}

.auctions_container table {
  margin: 20px auto;
}

.auctions_container td {
  font-size: 24px;
  padding: 10px;
  border: black solid 2px;
}


.auctions_container th {
  font-size: 24px;
  padding: 10px;
}

.borderless {
  border: 0px black solid;
  background-color: none;
}

.gifts_table a, .antiques_table a {
  color: black;
  text-decoration: none;
}

.gifts_table a:hover, .antiques_table a:hover {
  color: red;
}

h2 {
  margin-bottom: 0px;
  display: inline-block;
  margin-right: 15px;
  text-decoration: underline;
}

.wholesaler_page {
}

.wholesaler_container {
  margin: 10px auto;
  border: hsla(201, 67%, 50%, 1) solid 2px;
  width: 90%;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
}

.antique_container, .gift_container {
  margin: 10px auto;
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 22px;
  border: 2px solid hsla(201, 67%, 50%, 1);
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px grey;
}


.wholesaler_container img, .antique_container img, .gift_container img {
  width: 100%;
  height: auto;
}

.antique_container img, .gift_container img {
}

.wholesaler_container div, .antique_container div, .gift_container div {
  display: inline-block;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 45%;
  margin: 10px auto;
}

.wholesaler_container div a, .antique_container div a, .gift_container div a {
  text-decoration: none;
  color: black;
  border: 2px black solid;
  padding: 2px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 2px 2px 2px grey;

}

.wholesaler_container div a:hover, .antique_container div a:hover, .gift_container div a:hover {
  border: 2px red solid;
  color: red;
}

.add_button {
  text-decoration: none;
  color: black;
  border: black solid 2px;
  border-radius: 4px;
  background-color: white;
  padding: 4px
}

.add_button:hover {
  color: red;
  border: red solid 2px;
}

.auctions_container {
  margin: 0 auto;
  min-width: 800px;
}

.sort_bar {
  display: inline-flex;
  width: 50vw;
  float: right;
  align-items: center;
}

.sort_bar select {
  width: 20%;
}
